<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 prod-title">
      <h1><%= @profile.name %></h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="card prod-show-card text-center">
        <%= cl_image_tag @profile.photo, class: "card-img-top", height: 240, width: 555, crop: :fill %>
        <div class="card-block">
          <p><%= @profile.description %></p>
          <h4><%= @profile.location %></h4>
          <p><%= link_to "Edit Your Profile", edit_profile_path(@profile), class: "btn btn-primary" if @profile == current_profile %><%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-danger", method: :delete %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card prod-show-card text-center">
        <div class="card-block">
          <div class="col-xs-12 prod-title">
            <h3><%= @profile.name %>'s Products:</h3>
            <% @profile.products.each do |product| %>
              <div class="emergency-padding">
                <%= cl_image_tag product.photo, height: 50, width: 50, crop: :fill %>
                <span><%= link_to product.name, product_path(product) %></span>
                <%= link_to "Delete", profile_path, class: "btn btn-sm btn-danger", method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_profile == @profile %>
    <div class="row">
      <div class="col-xs-12">
        <div class="card prod-reviews-card text-center">
          <div>
          <h3>Rental Requests:</h3>
          <% @profile.products.each do |product| %>
            <% product.rentals.pending_or_confirmed.each do |rental| %>
              <p>| <strong> <%= link_to rental.profile.name, profile_path(rental.profile_id) %> </strong>
              wants
              <strong> <%= link_to rental.product.name, product_path(rental.product_id) %> </strong> |
              from
               <strong> <%= rental.start_date %> - <%= rental.end_date %></strong>
                <% if rental.confirmed == nil %>
                  <strong><%= link_to "Accept", product_rental_path(product, rental, confirmed: true), class: "btn btn-sm btn-success", method: :patch %></strong> or
                  <strong><%= link_to "Reject", product_rental_path(product, rental, confirmed: false), class: "btn btn-sm btn-danger", method: :patch %></strong>
                <% elsif rental.confirmed == true %>
                    <font color = "green"> ACCEPTED </font>
                <% end %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card prod-reviews-card text-center">
        <h3>You Have Requested:</h3>
        <% @profile.rentals.each do |rental| %>
          <p>| <strong> <%= link_to rental.product.name, product_path(rental.product) %> </strong> from
          <strong> <%= link_to rental.product.profile.name, profile_path(rental.product.profile) %> </strong> |
          for <strong> <%= rental.start_date %> - <%= rental.end_date %></strong></p>
            <% if rental.confirmed == nil %>
              <strong> PENDING </strong>
            <% elsif rental.confirmed == false %>
              <font color = "red"> REJECTED </font>
            <% elsif rental.confirmed == true %>
              <font color = "green"> ACCEPTED </font>
            <%= link_to "Review", new_review_path, class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>




