<div class = "container">

<div class="col-md-4">

<%= cl_image_tag @profile.photo, height: 150, width: 150, crop: :fill %>
<h2><strong><%= @profile.name %></strong></h2>
<h4><%= @profile.location %></h4>
<p><%= @profile.description %></p>

<p><%= link_to "Edit Your Profile", edit_profile_path(@profile) if @profile == current_profile %></p>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</div>

<div class="col-md-8">


<h3><%= @profile.name %>'s Products:</h3>
<% @profile.products.each do |product| %>
    <%= cl_image_tag product.photo, height: 40, width: 40, crop: :fill %>
    <%= link_to product.name, product_path(product) %> |
    <%= link_to "Delete", profile_path, method: :delete %>
    <p></p>
<% end %>

<% if current_profile == @profile %>
  <div class= "container" style="background-color:#F5F5DC">
  <h3>Rental Requests:</h3>
  <% @profile.products.each do |product| %>
    <% product.rentals.pending_or_confirmed.each do |rental| %>
      <p>| <strong> <%= link_to rental.profile.name, profile_path(rental.profile_id) %> </strong>
      wants
      <strong> <%= link_to rental.product.name, product_path(rental.product_id) %> </strong> |
      from
       <strong> <%= rental.start_date %> - <%= rental.end_date %></strong>
        <% if rental.confirmed == nil %>
          <strong><%= link_to "Accept", product_rental_path(product, rental, confirmed: true), method: :patch %></strong> or
          <strong><%= link_to "Reject", product_rental_path(product, rental, confirmed: false), method: :patch %></strong>
        <% elsif rental.confirmed == true %>
            <font color = "green"> ACCEPTED </font>
        <% end %>
    <% end %>
<% end %>

<h3>You Have Requested:</h3>
<% @profile.rentals.each do |rental| %>
<p>| <strong> <%= link_to rental.product.name, product_path(rental.product) %> </strong> from
<strong> <%= link_to rental.product.profile.name, profile_path(rental.product.profile) %> </strong> |
for <strong> <%= rental.start_date %> - <%= rental.end_date %></strong>
  <% if rental.confirmed == nil %>
    <strong> PENDING </strong>
  <% elsif rental.confirmed == false %>
    <font color = "red"> REJECTED </font>
  <% elsif rental.confirmed == true %>
    <font color = "green"> ACCEPTED </font>
  <%= link_to "Review", new_review_path %></strong>
  <% end %>
<% end %>
<% end %>

</div>
</div>
</div>
