<div class = "container">

<div class="col-md-4">

<%= cl_image_tag @profile.photo, height: 150, width: 150, crop: :fill %>
<h2><%= @profile.name %></h2>
<%= link_to "edit profile", edit_profile_path(@profile) %>
<h4><%= @profile.location %></h4>
<p><%= @profile.description %></p>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</div>

<div class="col-md-8">
<div class= "container" style="background-color:#F5F5DC">
<h3>Rental Requests:</h3>
<% @profile.products.each do |product| %>
  <% product.rentals.each do |rental| %>
    <p>| <strong> <%= link_to rental.profile_id, profile_path(rental.profile_id) %> </strong> wants
<strong> <%= link_to rental.product_id, product_path(rental.product_id) %> </strong> |
from <strong> <%= rental.start_date %> - <%= rental.end_date %></strong>  <% end %>
<% end %>

</div>

<h3>Products You Have Available to Rent Out</h3>
<% @profile.products.each do |product| %>
    <%= cl_image_tag product.photo, height: 40, width: 40, crop: :fill %>
    <%= link_to product.name, product_path(product) %> |
    <%= link_to "Delete", profile_path, method: :delete %>
    <p></p>
<% end %>

<h3>You Are Renting:</h3>
<% @profile.rentals.each do |rental| %>
<p>| <strong> <%= link_to rental.product.name, product_path(rental.product) %> </strong> from
<strong> <%= link_to rental.product.profile.name, product_path(rental.product.profile) %> </strong> |
for <strong> <%= rental.start_date %> - <%= rental.end_date %></strong>
<% end %>
</div>
</div>
