<!-- <p id="notice"><%= notice %></p>
 -->
<div class="banner">
  <div class="banner-content">
    <h1>The Makers Market</h1>
    <p>Rent stuff so you can make things</p>
    <a class="btn btn-primary btn-lg">BROWSE</a>
  </div>
</div>


<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= cl_image_tag product.photo, height: 200, width: 200, crop: :fill %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
