<p id="notice"><%= notice %></p>

<div class="container text-center">
  <div class="col-md-6">
    <h1><%= @product.name %></h1>
    <h4><font color="#5CB85C"><%= @product.price %>€ per week </font></h4>


    <h4 style="display: inline"> <%= @product.profile.location %> || <h5 style="display: inline"><%= @product.category.name %></h5></h4>
    <br><br>
    <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>
    <br><br>
    <p><%= @product.description %></p>
    <p> Rent from <%= link_to @product.profile.name, profile_path(@product.profile.id) %></p>

      <%= link_to new_product_rental_path(@product), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-hand-up"></i> Rent This Item
      <% end %>
    <p><%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" if @product.profile == current_profile %> <%= link_to 'Back', products_path, class: "btn btn-info" %></p>

  </div>

  <div class="col-sm-3">
    <iframe
    width="350"
    height="300"
    frameborder="0" style="border:1"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgjt32H9gpBvp_jtCrwOZwTYKAhwLeklE
    &q=<%= @product.profile.location %>" allowfullscreen>
  </iframe>

  <h4 style="text-align:center">Availability</h4>
  <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control">
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
      </div>
  </div>

    <h3>Product Reviews</h3>
  <% @product.rentals.each do |rental| %>
    <% rental.reviews.each do |review| %>
    <%= review.stars %>
    <%= review.stars %>
    <% end %>
  <% end %>

</div>

</div>
