<p id="notice"><%= notice %></p>

<p><%= @product.name %></p>
<%= @product.description %>
<%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
