<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-6">
    <h1><%= @product.name %></h1>
    <h4><font color="#5CB85C"><%= @product.price %>€ per week </font></h4>


    <h3> <%= @product.profile.location %> || <%= @product.category.name %></h3>
    <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>
    <p><%= @product.description %></p>
      <%= link_to new_product_rental_path(@product), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-hand-up"></i> Rent This Item
      <% end %>
    <p><%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %></p>

  </div>
  <div class="col-md-6">
    <iframe
    width="300"
    height="400"
    frameborder="0" style="border:1"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgjt32H9gpBvp_jtCrwOZwTYKAhwLeklE
    &q=<%= @product.profile.location %>" allowfullscreen>
  </iframe>
</div>
</div>
